DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/fragflow?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="changeme"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""
AWS_S3_REGION=""
PUBLIC_CDN_BASE="" 

